body {
    padding-left: 50em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: rgb(163, 81, 170) ;
    background-image:url('birthday.jpg') ;
    background-size:cover }
  ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid rgb(148, 37, 142) }
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: rgb(234, 0, 255) }
  a:visited {
    color: purple }
  address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
h3 {
    color:green;
}
.try {
    color:rgb(187, 255, 0);
    background-color: blueviolet;
}
.try8{
  padding-right: 40em;
  font-size: 2.3em;
}